@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-bg-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .outlinedBtn {
    @apply border-2 pl-btn-h pr-btn-h pt-btn-v pb-btn-v border-secondary rounded-lg text-md-subtitle-primary text-text-primary font-bold cursor-pointer;
  }

  .filledBtn {
    @apply bg-primary pl-btn-h pr-btn-h pt-btn-v pb-btn-v border-secondary rounded-lg text-md-subtitle-primary text-text-white font-bold cursor-pointer;
  }

  .squareBtn {
    @apply w-[3rem] h-[3rem] bg-primary p-sq-btn rounded-default flex justify-center items-center;
  }

  .divider-h {
    @apply flex h-[1.5px] bg-divider-primary w-full;
  }

  .circle-div {
    @apply rounded-full border object-fill overflow-hidden h-avatar w-avatar;
  }

  .divider-v {
    @apply flex w-[1.5px] bg-divider-primary h-full;
  }

  .thin-divider-v {
    @apply flex w-[1px] bg-divider-primary h-full;
  }

  .lgHeaderText {
    @apply text-lg-header font-bold min-h-[13.125rem] max-w-[34rem] lg:text-left text-center leading-none;
  }

  .lgSubHeaderText {
    @apply text-lg-subtitle font-medium lg:min-h-[4rem] lg:max-w-[28rem] w-full lg:text-left text-center text-text-secondary;
  }

  .tabbarHome {
    @apply flex lg:w-sm-container w-full h-sm-container bg-white rounded-default justify-between items-center;
  }

  .browseContainer {
    @apply gap-icon-spacing px-sm-h py-sm-v bg-white rounded-default h-md-container w-md-container z-10 lg:flex hidden items-center drop-shadow-sm;
  }

  .virtualTourContainer {
    @apply gap-icon-spacing px-sm-h py-sm-v bg-white rounded-default h-md-container z-10 absolute lg:top-[8.25rem] min-w-[19.813rem] lg:left-[2.5rem] flex justify-around items-center cursor-pointer drop-shadow-sm;
  }

  .bestDealContainer {
    @apply gap-icon-spacing px-sm-h py-sm-v bg-white rounded-default h-md-container z-10 absolute lg:top-[44rem] top-[18rem] lg:w-[25rem] min-w-[19.813rem] lg:left-[18rem] flex justify-start items-center cursor-pointer drop-shadow-sm;
  }

  .searchContainer {
    @apply flex justify-between items-center w-full h-[5rem] lg:max-w-[10rem] lg:max-h-[12rem] rounded-default bg-white lg:hidden p-sm-h;
  }

  .rentContainer {
    @apply flex flex-col max-h-rent-card min-w-rent-card min-h-rent-card drop-shadow-sm rounded-default bg-white relative;
  }

  .rentContainer-h {
    @apply flex flex-row max-h-rent-card drop-shadow-sm h-fit rounded-default bg-white;
  }

  .tableRow {
    @apply px-sm-h;
  }
}
